$white: #fff;
$black: #000;
$text-color: #333;

$cta: #D94D1A;
$cta-hover: #812F12;

$header-bcg:#323E40;

$footer-bcg: #D9B573;
$heading-bcg: #D9B573;

$sectioning: #F2F2F2;

$input-border: #707070;

$section-border: rgba(0, 0, 0, 0.08);

