.header {
    padding: 16px 139px;
    background-color: $header-bcg;
    width: 100%;

    &__wrapper {
        max-width: 1088px;
        margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
    }
}

.date {
    @include roboto(16px, $white)
}

.global {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: $header-bcg;
    z-index: 100;
}